<!-- 通用的導覽列 -->
<nav class="container py-8 py-sm-8 d-flex align-center justify-between my-16 my-sm-12">
    <ul class="d-flex align-center">
        <li class="mr-48"><a href="./index.html">
            <img src="/assets/images/logo.svg" alt="URBNSTEP logo"></a>
        </li>
        <li class="mr-40 d-sm-none"><a class="py-12" href="./productList.html">商品列表</a>
        </li>
        <li class="d-sm-none"><a class="py-12" href="./brandStory.html">品牌故事</a></li>
    </ul>
    <a class="p-12" href="#"><i class="bi bi-person"></i></a>
</nav>