/* 按鈕 */
.btn-page {
    font-size: 16px;
    line-height: 1.5;
    padding: 8px 15px;
    border: none;
    cursor: pointer; /* 改變游標樣式，可點的小手 */
    background-color: transparent; /* 背景透明 */
}
.btn-neutral-filled-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    border-radius: 4px;
    padding: 12px 24px;
    border: none;
    cursor: pointer; /* 改變游標樣式，可點的小手 */
    background-color: $neutral_900;
    color: #fff;
    &:hover {
        background-color: $neutral_700;
    }
}
.btn-neutral-outlined-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    border-radius: 4px;
    letter-spacing: 0.05em;
    padding: 12px 24px;
    cursor: pointer; /* 改變游標樣式，可點的小手 */
    background-color: transparent; /* 背景透明 */
    border: 1px solid $neutral_900;
    &:hover {
        background-color: $neutral_900;
        color: #fff;
    }
}