.header {
    background-image: url(/assets/images/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 151px;
    padding-bottom: 151px;
    .story-title-zh {
        color: #fff;
        text-align: center;
        padding-bottom: 16px;
    }
    .story-title-en {
        color: #fff;
        text-align: center;
    }

    @include mobile {
        background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(/assets/images/hero-sm.png);
        background-repeat: no-repeat;
        padding: 87px 0;
        .story-title-zh {
            padding-bottom: 8px;
        }
    }
}

.block-quote {
    text-align: center;
    border-radius: 12px;

    @include mobile {
        text-align: left;
    }
}

/* 品牌簡介 */
.brand-intro {
    border-bottom: 1px solid $neutral_300;
}

/* 品牌歷程 */
.brand-history {
    border-bottom: 1px solid $neutral_300;
    ol {
        list-style-type: disc;
        padding-left: 24px;
    }
    .history-year {
        border-left: 1px solid $neutral_900;
        padding-left: 8px;
        margin-left: 8px;
    }
}

/* 品牌理念 */
.brand-concept {
    border-bottom: 1px solid $neutral_300;
    li {
        border-left: 3px solid $neutral_300;
    }
}

/* 品牌小故事 */
.brand-story {
    border-bottom: 1px solid $neutral_300;
    .underline {
        border-bottom: 1px solid $primary_400;
    }
    a:hover {
        color: black;
    }
}