/* 顏色 */
$primary_100: #F5FEE7;
$primary_200: #E8FEC5;
$primary_300: #C0FA73;
$primary_400: #57A203;
$neutral_100: #F8F9FA;
$neutral_300: #DEE2E6;
$neutral_500: #ADB5BD;
$neutral_600: #6C757D;
$neutral_700: #495057;
$neutral_900: #212529;
$danger_300: #D74F4F;