<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URBNSTEP</title>
    <%- include('./layout/front') %>
  </head>
  <body>
    <%- include('./layout/nav') %>
    <!-- banner 的部分 -->
    <header class="index-header">
      <h1 class="index-title display-1 pb-16 display-sm-2 pb-sm-8">URBNSTEP</h1>
      <h2 class="index-title heading-3 pb-48 heading-sm-5 py-sm-32">Your Step, Your Statement</h2>
      <button class="btn-primary-filled-text p-sm-8-16" type="button">立即選購</button>
    </header>
    <!-- 主要區域 -->
    <main>
      <!-- 新品上市 -->
      <section class="container py-64 py-sm-40">
        <div class="row">
          <div class="col-12 text-center col-md-4">
            <h2 class="display-2 mb-12 heading-sm-2 mb-sm-8">New Arrival</h2>
            <h3 class="heading-2 mb-32 heading-sm-4 mb-sm-24">新品上市</h3>
          </div>
          <div class="col-6 col-md-2 mb-40 mb-sm-24">
            <img class="pb-12 pb-sm-8" src="../assets/images/new-1.png" alt="Monoverse image">
            <h3 class="heading-5 pb-4 heading-sm-6 pb-sm-0">Monoverse</h3>
            <data class="text-md " value="3600">NT$3,600</data>
          </div>
          <div class="col-6 col-md-2 mb-40 mb-sm-24">
            <img class="pb-12 pb-sm-8" src="../assets/images/new-2.png" alt="PLATFORM 404 image">
            <h3 class="heading-5 pb-4 heading-sm-6 pb-sm-0">PLATFORM 404</h3>
            <data class="text-md " value="2600">NT$2,600</data>
          </div>
          <div class="col-6 col-md-2">
            <img class="pb-12 pb-sm-8" src="../assets/images/new-3.png" alt="URBN Force image">
            <h3 class="heading-5 pb-4 heading-sm-6 pb-sm-0">URBN Force</h3>
            <data class="text-md " value="3200">NT$3,200</data>
          </div>
          <div class="col-6 col-md-2">
            <img class="pb-12 pb-sm-8" src="../assets/images/new-4.png" alt="Mode90 image">
            <h3 class="heading-5 pb-4 heading-sm-6 pb-sm-0">Mode90</h3>
            <data class="text-md " value="4000">NT$4,000</data>
          </div>
      </div>
      </section>
      <!-- 熱銷補貨 -->
      <section class="py-64 py-sm-40">
        <div class="container">
          <h2 class="heading-2 mb-16 heading-sm-4">熱銷補貨</h2>
          <div class="row flex-md-nowrap overflow-x-md-auto products-row">
            <div class="col-3 products-col">
              <div class="product">
                <span class="product-text">人氣 No.1</span>
                <img src="../assets/images/product-3.png" alt="Melty Kiss image">
              </div>
            </div>
            <div class="col-3 products-col">
              <div class="product">
                <span class="product-text">人氣 No.1</span>
                <img src="../assets/images/product.png" alt="PLATFORM 404 image">
              </div>
            </div>
            <div class="col-3 products-col">
              <div class="product">
                <span class="product-text">人氣 No.1</span>
                <img src="../assets/images/product-6.png" alt="R:UNER image">
              </div>
            </div>
            <div class="col-3 products-col">
              <div class="product">
                <span class="product-text">人氣 No.1</span>
                <img src="../assets/images/product-4.png" alt="BOOMBLOK image">
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- URBNSTEP x Kevin Chen -->
      <section class="py-48">
        <div class="banner">
          <h2 class="display-2 text-white mb-16 heading-sm-2 d-sm-flex flex-sm-column gap-sm-8">
            <span>URBNSTEP</span>
            <span class="heading-1 text-primary-300 px-24 heading-sm-3">x</span>
            <span>Kevin Chen</span>
          </h2>
          <h3 class="heading-2 text-white mb-32 heading-sm-5 mb-sm-24">
            跨界聯名，限量發售
          </h3>
          <p class="text-lg text-neutral-500 mb-48 d-sm-flex flex-sm-column text-sm-md gap-sm-4">
            <span>新銳漫畫家 Kevin Chen 親自操刀設計</span>
            <span class="d-sm-none">，</span>
            <span>街頭能量全面引爆！</span>
          </p>
          <button class="btn-primary-filled-text" type="button">立即搶購</button>
          <img class="star-img" src="../assets/images/star.svg" alt="star">
          <img class="sparkle-img" src="../assets/images/sparkle.svg" alt="sparkle">
        </div>
      </section>
      <!-- 依系列選購 -->
      <section class="py-64 py-sm-40">
        <div class="container">
          <h2 class="heading-2 heading-sm-4 mb-16">依系列選購</h2>
          <div class="row">
            <div class="col-3 col-md-2 mb-sm-12 ">
              <div class="category">
                <img src="../assets/images/product-6.png" alt="URBN RUNNER 慢跑系列">
                <div class="category-text">
                  <h3 class="heading-3 heading-sm-6 mb-8">URBN RUNNER</h3>
                  <p class="heading-4 heading-sm-6">慢跑系列</p>
                </div>
              </div>
            </div>
            <div class="col-3 col-md-2 mb-sm-12 ">
              <div class="category">
                <img src="../assets/images/product-11.png" alt="STREETMODE 滑板系列">
                <div class="category-text">
                  <h3 class="heading-3 heading-sm-6 mb-8">STREETMODE</h3>
                  <p class="heading-4 heading-sm-6">滑板系列</p>
                </div>
              </div>
            </div>
            <div class="col-3 col-md-2">
              <div class="category">
                <img src="../assets/images/product-4.png" alt="CHUNK DISTRICT 厚底系列">
                <div class="category-text">
                  <h3 class="heading-3 heading-sm-6 mb-8">CHUNK DISTRICT</h3>
                  <p class="heading-4 heading-sm-6">厚底系列</p>
                </div>
              </div>
            </div>
            <div class="col-3 col-md-2">
              <div class="category">
                <img src="../assets/images/product-10.png" alt="COLLAB ZONE 聯名企劃">
                <div class="category-text">
                  <h3 class="heading-3 heading-sm-6 mb-8">COLLAB ZONE</h3>
                  <p class="heading-4 heading-sm-6">聯名企劃</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- 穿搭靈感 -->
      <section class="py-64 py-sm-40 mb-48 mb-sm-24">
        <div class="container">
          <h2 class="heading-2 heading-sm-4 mb-16">穿搭靈感</h2>
          <div class="cards-gallery-row overflow-x-md-auto">
            <div class="cards-gallery-col-4">
              <div class="cards-gallery-row">
                <div class="cards-gallery-col-6">
                  <img src="../assets/images/inspiration-1.png" alt="穿搭靈感-1">
                </div>
                <div class="cards-gallery-col-6">
                  <img src="../assets/images/inspiration-2.png" alt="穿搭靈感-2">
                </div>
                <div class="cards-gallery-col-12">
                  <img src="../assets/images/inspiration-3.png" alt="穿搭靈感-3">
                </div>
              </div>
            </div>
            <div class="cards-gallery-col-4">
              <div class="cards-gallery-row">
                <div class="cards-gallery-col-6">
                  <img src="../assets/images/inspiration-4.png" alt="穿搭靈感-4">
                </div>
                <div class="cards-gallery-col-6">
                  <img src="../assets/images/inspiration-5.png" alt="穿搭靈感-5">
                </div>
                <div class="cards-gallery-col-6">
                  <img src="../assets/images/inspiration-6.png" alt="穿搭靈感-6">
                </div>
                <div class="cards-gallery-col-6">
                  <img src="../assets/images/inspiration-7.png" alt="穿搭靈感-7">
                </div>
                <div class="cards-gallery-col-6">
                  <img src="../assets/images/inspiration-8.png" alt="穿搭靈感-8">
                </div>
                <div class="cards-gallery-col-6">
                  <img src="../assets/images/inspiration-9.png" alt="穿搭靈感-9">
                </div>
              </div>
            </div>
            <div class="cards-gallery-col-4">
              <div class="cards-gallery-row">
                <div class="cards-gallery-col-12">
                  <img src="../assets/images/inspiration-10.png" alt="穿搭靈感-10">
                </div>
                <div class="cards-gallery-col-6">
                  <img src="../assets/images/inspiration-11.png" alt="穿搭靈感-11">
                </div>
                <div class="cards-gallery-col-6">
                  <img src="../assets/images/inspiration-12.png" alt="穿搭靈感-12">
                </div>
              </div>
            </div>
          </div>
        </div>

      </section>
    </main>
    <%- include('./layout/callToAction') %>
    <%- include('./layout/footer') %>
    <script type="module" src="../main.js"></script>
  </body>
</html>
