<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URBNSTEP</title>
    <%- include('./layout/front') %>
  </head>
  <body>
    <%- include('./layout/nav') %>
    <!-- banner 的部分 -->
    <header class="index-header">
      <h1 class="index-title display-1 pb-16 display-sm-2 pb-sm-8">URBNSTEP</h1>
      <h2 class="index-title heading-3 pb-48 heading-sm-5 py-sm-32">Your Step, Your Statement</h2>
      <button class="btn-primary-filled-text p-sm-8-16" type="button">立即選購</button>
    </header>
    <!-- 主要區域 -->
    <main class="container">
      <div class="row"></div>

    </main>


    <%- include('./layout/footer') %>
    <script type="module" src="../main.js"></script>
  </body>
</html>
